name: Gradle Integration Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        # https://github.com/marketplace/actions/setup-java-jdk#supported-distributions
        distribution: 'temurin'
        java-version: 25
    - name: Integration with Gradle
      run: ./gradlew integration
